        
    .gridinicio {
        display: grid;
        grid-template-columns: repeat (3, 1fr);
        grid-template-rows: repeat (2, 1 fr);
        grid-gap: 15px;
        grid-template-areas:  
        "i1 i2 i3"
        "i4 i5 i6";
        }
    img{height: 85%;
    width: 100%;}
    
    @media (max-width: 420px){
        .gridinicio{
            display: grid;
            grid-template-columns: repeat (2, 1fr);
            grid-template-rows: repeat (3, 1fr);
            grid-template-areas: 
            "i1 i2"
            "i3 i4"
            "i5 i6";
        }
    }