*{ margin: 0;
padding: 0;}
body{
font-family: 'Josefin Sans', sans-serif; }
header h1{margin: 0% auto;
    text-align: center;
    font-size: 2rem;
    color: orangered;}
    header h2{text-align: center;
        font-size: 2rem;
        color: orangered;}
    header{background-color:goldenrod;}
    
    main{background-image:url(../imagenes/fondomain.jpg);
    color: black;}
    footer{background-color: goldenrod;
    color: orangered;} 
    section
    {font-size: 25px;
    text-align: center;}
    img {height: 300px;
    width: 300px;}
    .footer h4{text-align: center;}
    .navbar-custom {
        background-color: orangered;
        color: goldenrod;}
        .gridubicacion {  display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              ". . . ."
              "ubicaciontx ubicaciontx ubicacionmaps ubicacionmaps"
              "ubicaciontx ubicaciontx ubicacionmaps ubicacionmaps"
              ". . . .";
          }
          
          .ubicaciontx { grid-area: ubicaciontx; font-size: 30px;  color: black;}
          .ubicaciontx { display: flex; justify-content: center;
        align-items: center; }
          .ubicacionmaps { grid-area: ubicacionmaps; }

.gridinicio {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (2, 1 fr);
    grid-gap: 15px;
    grid-template-areas:  
    "i1 i2 i3"
    "i4 i5 i6";
    }
img{height: 85%;
width: 100%;}

@media (max-width: 420px){
    .gridinicio{
        display: grid;
        grid-template-columns: repeat (2, 1fr);
        grid-template-rows: repeat (3, 1fr);
        grid-template-areas: 
        "i1 i2"
        "i3 i4"
        "i5 i6";
    }
}
.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.3fr 1fr 0.3fr;
    gap: 3px 4px;
    grid-template-areas:
      "m1 m2 m3"
      "mp1 mp2 mp3"
      "m4 m5 m6"
      "mp4 mp5 mp6";
  }
  
  .m1 { grid-area: m1; }
  
  .m2 { grid-area: m2; }
  
  .m3 { grid-area: m3; }
  
  .mp1 { grid-area: mp1; }
  
  .mp2 { grid-area: mp2; }
  
  .mp3 { grid-area: mp3; }
  
  .m4 { grid-area: m4; }
  
  .mp4 { grid-area: mp4; }
  
  .m5 { grid-area: m5; }
  
  .mp5 { grid-area: mp5; }
  
  .m6 { grid-area: m6; }
  
  .mp6 { grid-area: mp6;}

  .mp1 {display: flex;
justify-content: center;
align-items: center;}
.mp2{ display: flex;
justify-content: center;
align-items: center;}
.mp3{ display: flex;
justify-content: center;
align-items: center;}
.mp4{display: flex;
justify-content: center;
align-items: center;}
.mp5{display: flex;
justify-content: center;
align-items: center;}
.mp6{display:flex;
justify-content: center;
align-items: center;}
  
.container{font-size: 2rem;}

@media (max-width: 420px){ .container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 0.3fr 1fr 0.3fr 1fr 0.3fr; 
    gap: 3px 4px; 
    grid-template-areas: 
      "m1 m2"
      "mp1 mp2"
      "m3 m4"
      "mp3 mp4"
      "m5 m6"
      "mp5 mp6"; 
    align-content: stretch; 
    justify-items: center; 
    font-size:  15px;
}}
